<!-- project/templates/project/show_board_game.html -->


 {% extends 'project/base.html' %}
 {% block content %}

<main class="grid-container">
    <profile class="featured">
        <!-- Show details of Board Game -->
        {% if board_game.image_url %}
        <img src="{{board_game.image_url}}" alt="{{board_game.image_url}}">
        {% endif %}
        <div>
        <h2>{{board_game.title}}</h2>
        <strong>Price: {{board_game.price}}</strong>
        <p>Publisher: {{board_game.publisher}}</p>
        <p>Released in: {{board_game.release_year}}</p>
        <p>Genre: {{board_game.genre}}</p>
        </div>
         <!-- End details of Board Game -->
        <div class="main">
         {% if request.user.is_authenticated %}
         <a href="{% url 'create_rating' board_game.pk %}">Rate this Product</a>
         {% if board_game.stock_quantity > 0 %}
         <a href="{% url 'add_to_cart' board_game.pk %}" > Add to Cart </a>
         {%else%}
         <div class="msg">Out of stock</div>
         {%endif%}
         {% else %}
         <a href="{% url 'login' %}">Rate this Product</a>
         <a href="{% url 'login' %}">Add to Cart</a>
         {% endif %}
        </div>
  
    </profile>
    
</main>


</profile>

<main class="grid-container">
    <!-- Show ratings -->
    <ul>
        {% for rating in board_game.get_ratings %}
        <profile>
            <div class="rating-box">
                Customer: {{rating.customer.first_name}} {{rating.customer.last_name}}
                <br>
                Comment: {{rating.comment}}
                <br>
                Rating: {{rating.rating}}
                <br>
                <br>
            </div>
        </profile>
        {% endfor %}
    </ul>
    <!-- End of ratings -->
</main>


 {% endblock %}