<!-- restaurant/templates/restaurant/order.html -->
 {% extends 'restaurant/base.html' %}
 {% block content %}
 <div>
    <h2>
        Place an Order
    </h2>
    <form action="{% url 'confirmation' %}" method="POST">
        <!-- CSRF token as security measure -->
         {% csrf_token %}
         {% for item, price in menu.items %}
         <input type="checkbox" name="menu" value="{{ item }}"> {{ item }} $ {{ price }}<br>
         {% endfor %}

        <h4>Extras for Crab Rangoon</h4>
        {% for item, price in extras.items %}
        <input type="checkbox" name="extras" value="{{ item }}"> {{ item }} $ {{ price }}<br>
        {% endfor %}
        
        
        <p>
        <h3>Today's Special</h3>
        <input type="checkbox" name="special" value="special"> {{special}} $15
        </p>
        <p>
            <h3>Special Instructions</h3>
            <textarea name="special_instructions" rows="3" cols="60"></textarea>
        </p>
        <p>
            <h3>Customer Information</h3>
            Name: <input type="text" name="name">
            Phone: <input type="text" name="phone">
            Email: <input type="text" name="email">
        </p>
        <p>
            <h3>Place your Order!</h3>
            <input type="submit">
        </p>
    </form>
 </div>
 {% endblock %}