<!-- hw/templates/hw/base.html -->
<!-- template with common HTML code that will be reused by other templates -->
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                
                
            </ul>
        </nav>
        {% block content %}
        <!-- Fill in this section with specific page detail -->
        {% endblock %}
        <hr>
      
    </body>
</html>