<!-- hw/templates/mini_fb/base.html -->
<!-- template with common HTML code that will be reused by other templates -->
{% load static %}
<html>
    <head>
        <title>Mini_fb</title>
        <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                
                
            </ul>
        </nav>
        <header><h1>MiniFacebook</h1></header>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
            </ul>
        </nav>
        
        {% block content %}
        <!-- Fill in this section with specific page detail -->
        {% endblock %}
        <hr>
      
    </body>
</html>