<!-- mini_fb/news_feed.html  -->
{% extends 'mini_fb/base.html' %}
 {% block content %}

 <h2>{{profile.first_name}}'s News Feed</h2>
 <div class="newsfeed">
    {% for status in profile.get_news_feed %}
    <div class="status">
        <div>
            {% if status.profile.image_file%}
            <img src="{{status.profile.image_file.url}}" alt="{{status.profile.image_file.url}}">
            {% endif %}
            <strong>{{status.profile.first_name}} {{status.profile.last_name}}</strong>
        </div>
        <p>{{status.message}}</p>
        <p>{{status.timestamp}}</p>
        {% for img in status.get_images %}
        <div>
            <img src="{{img.image_file.url}}" alt="{{img.image_file.url}}">
        </div>
        {% endfor %}
    </div>
    {% endfor %}
 </div>
 {%endblock %}