<!-- mini_fb/templates/mini_fb/show_profile.html -->

{% extends 'mini_fb/base.html' %}
{% block content %}

<main class="grid-container">
    <profile class="featured">

        {% if profile.image_url %}
        <img src="{{profile.image_url}}" alt="{{profile.image_url}}">
        {% endif %}
        <div>
            <h2>{{profile.first_name}} {{profile.last_name}}</h2>
            <strong>  {{profile.city}}</strong>
        </div>

    </profile>
    <a href="{% url 'create_status' profile.pk %}">Add Status Message</a>
    <div>
        <h2>{{profile.first_name}} Status:</h2>
        {% for s in profile.get_status_messages %}
        <profile>
            <div>
                
                <p>{{s.message}}</p>
                <p>{{s.timestamp}}</p>
            </div>
        </profile>
        {%endfor%}
        <ul>
            {% for s in profile.statusmessage_set.all %}
            <p>{{s.message}}</p>
            <p>{{s.timestamp}}</p>
        </ul>
            {%endfor%}
    </div>
    

</main>

{% endblock %}