<!-- mini_fb/templates/mini_fb/show_all_profiles.html -->


 <!-- display a context variable called articles -->
 {% extends 'mini_fb/base.html' %}
 {% block content %}
 <main class="grid-container">
 
     {% for a in profiles %}
     <profile>
        {% if a.image_url %}
        <div class="crop"><a href="{% url 'show_profile' %}">
            <img src="{{a.image_url}}" alt="{{a.image_url}}">
        </a></div>
        
        {% endif %}

         <h3>{{a.first_name}} {{a.last_name}}</h2>
         <h3>{{a.city}}</h3>
 
 
         </profile>
     {% endfor %}
 
 </main>
 {% endblock %}