<!-- mini_fb/templates/mini_fb/show_profile.html -->

{% extends 'mini_fb/base.html' %}
{% block content %}

<main class="grid-container">
    <profile class="featured">

        {% if profile.image_url %}
        <img src="{{profile.image_url}}" alt="{{profile.image_url}}">
        {% endif %}
        <div>
            <h2>{{profile.first_name}} {{profile.last_name}}</h2>
            <strong>  {{profile.city}}</strong> 
            <br>
            <br>
            {% if user.is_authenticated and user == profile.user %}
            <div class="main"><a href="{% url 'news_feed'  %}">News Feed</a> <br>
            <a href="{% url 'update_profile'%}" style="text-decoration: underline;">Update Profile</a>
            <a href="{% url 'create_status'  %}" style="text-decoration: underline;">Add Status Message</a>
            <a href="{% url 'friend_suggestions'  %}" style="text-decoration: underline;">Friend Suggestions</a>
            {% else %}
            <p>You are not logged in as this user</p>
            {% endif %}
        </div>
            
        </div>
        
    </profile>

</main>
<main class="grid-container">
    <!-- friends -->
    <div>
        <h2>{{profile.first_name}}'s Friends</h2>
        {% if profile.get_friends%}
            <ul style="display: flex;">
            {% for friend in profile.get_friends%}
            <div class="crop">
                <div class="main"><li><a href="{% url 'show_profile_with_pk' friend.id %}" >{{friend.first_name}}</a></li></div>
                
                <img src="{{friend.image_url}}" alt="{{friend.image_url}}" >
            </div>
            {%endfor%}
        {%else%}
            <p>{{profile.first_name}} doesn't have any friends yet</p>
        </ul>
        {%endif%}
        
        
        
    </div>
    
</main>


<main class="grid-container">
    <div>
        

        <h2>{{profile.first_name}}'s' Status:</h2>
        
        {% for s in profile.get_status_messages %}
        <ul style="display: flex;">
            <li>
        <profile>
            <div>
                
                
                <div>
                {% if user.is_authenticated and user == profile.user %}
                <a href="{% url 'delete_status' s.pk %}" style="text-decoration: underline;">Delete</a>
                <a href="{% url 'update_status' s.pk %}" style="text-decoration: underline;">Update</a>
                {%endif%}
                </div>
                {% for img in s.get_images %}
                    <div class="crop">
                        <img src="{{img.image_file.url}}" alt="{{img.image_file.url}}" style="display: inline-block; ">
                    </div>
                    
                {%endfor%}
                <p>{{s.message}}</p>
                <p>{{s.timestamp}}</p>
            </div>
        </profile>
    </li>
    </ul>
        {%endfor%}
        
    </div>
</main>
    
    



{% endblock %}