<!-- hw3/templates/quotes/base.html -->
{% load static %}
<html>
    <head>
        
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Bob Marley Quote of the Day</title>
        
    </head>
    <body>
        <h1>Bob Marley Quote of the Day</h1>
        <hr>
        <nav>
            <ul>
                <li><a href="{% url 'quote' %}">Quote of the day</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'show_all' %}">All quotes</a></li>
            </ul>
        </nav>
        {% block content %}
        <!-- Enter content here -->
        {% endblock %}
    </body>
</html>