<!-- hw3/templates/hw3/about.html -->
{% extends 'hw3/base.html' %}
{% block content %}
<h2>Quotes from Bob Marley</h2>
<p>This web application displays quotes and images from <a href="https://www.brainyquote.com/authors/bob-marley-quotes">Bob Marley</a></p><br>
<p><a href="https://en.wikipedia.org/wiki/Bob_Marley">Bob Marley</a> is a Jamaican guitarist and songwriter. </p>
    <p>Marley increased the visibility of Jamaican music worldwide and made him a global figure in popular culture. He became known as a Rastafarian icon, and he infused his music with a sense of spirituality</p>
{% endblock %}
